<!doctype html>
<html lang="en" ng-app="geographic-video">
<head>

<meta charset="utf-8">

<link rel="stylesheet" href="lib/onsen/css/onsenui.css"/>
<link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css"/>
<link rel="stylesheet" href="css/style.min.css">

<script src="lib/angular/angular.min.js"></script>
<script src="lib/onsen/js/onsenui.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="js/app.js"></script>

</head>
<body ng-controller="mainCtrl">

<ons-navigator var="mainNav">

<!-- リストページ -->
<ons-page ng-controller="listCtrl">

  <ons-toolbar>
    <div class="center">Title</div>
  </ons-toolbar>
  <ons-scroller>
    <ons-list>
      <ons-list-item ng-repeat="location in locations" ng-click="showDialog($index)" modifier="tappable">{{location.name}}</ons-list-item>
    </ons-list>
  </ons-scroller>

</ons-page>
<!-- / リストページ -->

</ons-navigator>


<!-- ダイアログボックス -->
<ons-template id="dialog.html">

<ons-dialog style="height: 220px;" var="naviDialog" cancelable>

  <ons-toolbar inline>
    <div class="center">
      {{distName}}
    </div>
  </ons-toolbar>
  <div style="text-align: center; padding: 0 20px;">
    <p>
      この場所に行きますか？
    </p>
    <p>
      <ons-button ng-click="naviDialog.hide()" modifier="outline">別のところにする</ons-button>
    </p>
    <p>
      <ons-button ng-click="goMap()" modifier="large">行ってみる</ons-button>
    </p>
  </div>

</ons-dialog>

</ons-template>
<!-- / ダイアログボックス -->


<!-- マップページ -->
<ons-template id="map.html">

<ons-page ng-controller="mapCtrl">

  <ons-toolbar>
    <p class="left">
      <ons-back-button>Back</ons-back-button>
    </p>
    <div class="center">Map</div>
    <p class="right">
      <ons-toolbar-button ng-click="showDialogToVideo()">Next</ons-toolbar-button>
    </p>
  </ons-toolbar>
  <div id="map"></div>
</ons-page>

</ons-template>
<!-- / マップページ -->

<!-- ダイアログボックス(ナビゲーション) -->
<ons-template id="dialog_navi.html">

<ons-dialog style="height: 220px;" var="mapDialog" cancelable>

  <ons-toolbar inline>
    <div class="center">
      動画を発見！
    </div>
  </ons-toolbar>
  <div style="text-align: center; padding: 0 20px;">
    <p>
      この動画を観ますか？
    </p>
    <p>
      <ons-button ng-click="mapDialog.hide()" modifier="outline">キャンセル</ons-button>
    </p>
    <p>
      <ons-button ng-click="goVideo()" modifier="large">観てみる</ons-button>
    </p>
  </div>

</ons-dialog>

</ons-template>
<!-- / ダイアログボックス(ナビゲーション) -->

<!-- マップページ -->
<ons-template id="video.html">

<ons-page ng-controller="videoCtrl">

  <ons-toolbar>
    <p class="left">
      <ons-back-button>Back</ons-back-button>
    </p>
    <div class="center">VIDEO</div>
    <p class="right">
      <ons-toolbar-button ng-click="backToTop()">次の場所へ！</ons-toolbar-button>
    </p>
  </ons-toolbar>
  <div id="video">
    <iframe width="560" height="315" src="{{videoURL}}" frameborder="0" allowfullscreen></iframe>
  </div>

</ons-page>

</ons-template>
<!-- / マップページ -->

</body>
</html>