<!doctype html>
<html lang="ja" ng-app="geographic-video">
<head>

<meta charset="utf-8">
<title>記憶探索</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<link rel="stylesheet" href="lib/onsen/css/onsenui.css"/>
<link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css"/>
<link rel="stylesheet" href="css/style.min.css">

<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular-resource/angular-resource.min.js"></script>
<script src="lib/onsen/js/onsenui.min.js"></script>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAYRHcmRFnqqcwIOLNxijXV07_3KpHs9FA&libraries=geometry"></script>
<script src="js/app.js"></script>

</head>
<body ng-controller="mainCtrl">

<!--**********
    リストページ
***********-->
<ons-navigator var="mainNav">

<!-- マップページ(初期表示) -->
<ons-page ng-controller="mapCtrl">
  <ons-toolbar>
    <div class="center">Map</div>
<!--
    <p class="right">
      <ons-toolbar-button onclick="mainNav.pushPage('list.html')">Next</ons-toolbar-button>
    </p>
 -->
  </ons-toolbar>
  <div id="map"></div>
</ons-page>
<!-- / マップページ -->

</ons-navigator>
<!--**********
    リストページ
***********-->


<!-- リストページ -->
<ons-template id="list.html">

<ons-page ng-controller="listCtrl">

  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button onclick="mainNav.popPage('map.html')"><ons-icon icon="fa-bars"></ons-icon></ons-toolbar-button>
    </div>
    <div class="center">Title</div>
  </ons-toolbar>
  <ons-scroller>
    <ons-list>
      <ons-list-item ng-repeat="location in locations" ng-click="showDialog($index)" modifier="chevron">{{location.name}}</ons-list-item>
    </ons-list>
  </ons-scroller>

</ons-page>

</ons-template>
<!-- / リストページ -->


<!-- ダイアログボックス(ナビゲーション) -->
<ons-template id="dialog_navi.html">

<ons-dialog style="height: 220px;" var="mapDialog" cancelable>

  <ons-toolbar inline>
    <div class="center">
      動画を発見！
    </div>
  </ons-toolbar>
  <div style="text-align: center; padding: 0 20px;">
    <p>
      この動画を観ますか？
    </p>
    <p>
      <ons-button ng-click="goVideo()" modifier="large">観てみる</ons-button>
    </p>
    <p>
      <ons-button style="width: 100%;" ng-click="mapDialog.hide()" modifier="outline">キャンセル</ons-button>
    </p>
  </div>

</ons-dialog>

</ons-template>
<!-- / ダイアログボックス(ナビゲーション) -->

</body>
</html>