<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">

<link rel="stylesheet" href="lib/onsen/css/onsenui.css"/>
<link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css"/>

<script src="lib/angular/angular.min.js"></script>
<script src="lib/onsen/js/onsenui.min.js"></script>
<script src="js/app.js"></script>

</head>
<body ng-app="geographic-video">

<ons-navigator var="listNav">
<ons-page ng-controller="listCtrl">

  <ons-toolbar>
    <div class="center">Title</div>
  </ons-toolbar>
  <ons-scroller>
    <ons-list>
      <ons-list-item ng-repeat="location in locations" ng-click="showDialog($index)" modifier="tappable">{{location.name}}</ons-list-item>
    </ons-list>
  </ons-scroller>

</ons-page>
</ons-navigator>


<ons-template id="dialog.html">

<ons-dialog style="height: 220px;" var="naviDialog" cancelable>
  <ons-toolbar inline>
    <div class="center">
      {{distName}}
    </div>
  </ons-toolbar>
  <div style="text-align: center; padding: 0 20px;">
    <p>
      この場所に行きますか？
    </p>
    <p>
      <ons-button ng-click="naviDialog.hide()" modifier="outline">別のところにする</ons-button>
    </p>
    <p>
      <ons-button ng-click="goMap()" modifier="large">行ってみる</ons-button>
    </p>
  </div>
</ons-dialog>

</ons-template>


<ons-template id="map.html">

<ons-page ng-controller="mapCtrl">
<ons-navigator var="mapNav">

  <ons-toolbar>
    <div class="left"><ons-back-button>BACK</ons-back-button></div>
    <div class="center">Map</div>
  </ons-toolbar>
  <ons-scroller>
    <ons-list>
      <!-- <ons-list-item ng-repeat="location in locations" ng-click="showDialog($index)" modifier="tappable">{{location.name}}</ons-list-item> -->
    </ons-list>
  </ons-scroller>

</ons-navigator>
</ons-page>

</ons-template>

</body>
</html>